@media (max-width: 1920px) {
    .mobilMenu {
        display: none;
    }
}

@media (max-width: 820px) {
    .basket-container {
        display: none;
    }

    .section-mobil {
        position: fixed;
        bottom: 115px;
    }

    .mobilMenu {
        display: unset !important;
        width: 500px;
    }

    .mobilMenu {
        display: flex;
        align-items: center;
    }

    main {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .menu1 {
        width: 820px;
    }

    @media (max-width: 820px) {
        .basket-container {
            display: none;
        }

        .basket-container-mobil {
            display: flex;
            width: 90%;
            height: 90%;
            background-color: #f5f5f5;
            z-index: 1;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-style: italic;
            font-weight: 600;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 3px solid #333;
            border-radius: 15px;
        }

        .close{
            width: 25px;
            height: 25px;
            background-color: #ff6d00;
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media (max-width: 700px) {
    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 690px) {
    .menu1 {
        width: 720px;
    }
}

@media (max-width: 590px) {
    .menu1 {
        width: 620px;
    }

    .mobilMenu{
        width: 400px;
    }
}

@media (max-width: 512px) {
    .menu1 {
        width: 520px;
    }

    .mobilMenu{
        width: 200px;
    }
}

@media (max-width: 430px) {
    .menu1 {
        width: 420px;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 24px;
    }

    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .basket-container-mobil{
        width: 300px;
    }
}

@media (max-width: 350px) {
    .menu1 {
        width: 320px;
    }

    /* .basket-container {
        width: 200px;
    } */

    .basket-container-mobil{
        width: 250px;
    }
}
